.about {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0rem 0.5rem;
  position: absolute;
}

.about h2 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

.avatar-sm {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 88%;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

@media (min-width: 576px) {
  .about {
    padding: 0rem 1rem;
  }
}

@media (min-width: 768px) {
  .about {
    padding: 0rem 2rem;
  }
}

@media (min-width: 992px) {
  .about {
    padding: 0rem 5rem;
  }
}
