main {
  font-family: 'Raleway', sans-serif;
}

#logo {
  color: rgb(61, 61, 61);
}

.landing {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 0rem 0.5rem;
  position: absolute;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.avatar {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -40%);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.hero {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 108%);
  width: 80%;
  text-align: center;
}

.big-text {
  font-size: 3rem;
  font-family: 'Caveat', cursive;
  color: rgb(61, 61, 61);
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.social-media {
  font-size: 32px;
}

@media (min-width: 500px) {
  .landing {
    padding: 0rem 1rem;
  }
  .nav-links li {
    padding-left: 3rem;
  }
  .avatar {
    transform: translate(-50%, -40%);
  }
  .hero {
    transform: translate(-50%, 120%);
    width: 320px;
  }
}

@media (min-width: 768px) {
  .landing {
    padding: 0rem 2rem;
  }
  .nav-links li {
    padding-left: 6rem;
  }
  .avatar {
    height: 320px;
    width: 320px;
    transform: translate(8%, -16%);
  }
  .hero {
    transform: translate(-104%, 0%);
    width: 320px;
    text-align: left;
  }
  .big-text {
    font-size: 4rem;
  }
  .social-media {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .landing {
    padding: 0rem 5rem;
  }
  .nav-links li {
    padding-left: 8rem;
  }
  .avatar {
    height: 400px;
    width: 400px;
    transform: translate(20%, -16%);
  }
  .big-text {
    font-size: 5rem;
  }
  .hero {
    width: 400px;
  }
}


