@import "index.css";
@import "transition.css";
@import "about.css";
@import "projects.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: ease-in 0.5s;
}
